<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <style>
    </style>

  </head>
  <body>
      <div style="background-color: #fff;">
        <div style="background-color: #0068ff; border-radius: 10px; margin: 10px; margin-top: 20px;">
          <h1 style="font-family: Poppins; padding: 20px; color: #fff; text-align: center;">Shopee</h1>
        </div>
        <h6 style="text-align: center; font-family: 'Poppins'; font-size: 12px; font-weight: 500; color: #0068ff;">Congratulations Shop Added Successfully</h6>

        <div style="width: 50%; margin: 0 auto;">
        <img src="https://cdn.dribbble.com/users/2121936/screenshots/4814257/ezgif-1-64fc188f39.gif" width="100%"  />
        </div>

        <div style="background: #f0f0f0; width: 40%; margin: 0 auto; border-radius: 10px;">
          <p style="padding:10px; text-align: center; font-size: 18px; font-weight: 600; font-family: 'Poppins'; color: #0068ff;">{{password}}</p>
        </div>
      </div>

  </body>
</html>